.container-setting {
    position: absolute;
    top: 80px;
    left: 255px;
    right: 5px;
    margin-top: 60px;
    max-width: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 20px;
  }
  
  .setting {
    max-width: 100%;
    margin-top: 5px;
    display: grid;
    grid-template-columns: 300px auto;
    gap: 50px;
  }
  
  .user-setting {
    display: grid;
    grid-template-rows: repeat(5, minmax(0, 1fr));
    gap: 5px;
    width: 100%;
    max-height: 100%;
    object-fit: cover;
    overflow: auto;
    padding: 5px;
  }
  
  #setting-button {
    margin-top: 15px;
    height: 45px;
    background-color: #f1f1f1;
    border: none;
    color: #000;
    padding: 1px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
  }
  
  #setting-button:hover {
    background-color: #f7d669;
  }
  
  #setting-button:focus {
    outline: none;
  }
  
  .image-user {
    display: inline-block;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border: 2px solid black;
    margin-top: 15px;
  }
  
  .user-setting h4,
  .user-setting p {
    margin: 5px;
  }
  
  .container-setting h4,
  .container-setting p {
    margin: 5px;
  }
  
  .invalid-email 
  {
    border: 1px solid red;
  }
  
  .invalid-phone
  {
    border: 1px solid red;
  }
  
  
  /*-------History--------*/
  
  .history {
    display: flex;
    overflow-x: auto;
    width: 100%;
    height: 320px;
    white-space: nowrap;
    scroll-behavior: smooth; /* Додано плавну прокрутку */
  }
  
  .history .video {
    flex-shrink: 0;
    width: 300px;
    margin-right: 10px;
  }
  
  .history h3 {

    z-index: 100;
    
  }
  
 
  
  
  
  

  
  

